*{
    font-family: 'Norwester', sans-serif;
}

#main{
    background-color: rgb(244,246,246,255);
    width: 100%;
 
    padding-top: 100px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
#mar{
    margin-left: 20px;
    width: 92%;
    margin-top: 30px;
}
#menu a{
    text-decoration: none;
    color: black;

}
#menu a:hover{
    background-color: orange;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50px;

}
#btns{
 width: 100px;
margin-left: 40px;}
#back{
    background-image: url("./media/abstract-smooth-orange-background-layout-design-studio-room-web-template-business-report-with-smooth-circle-gradient-color.jpg");
    
    background-size: cover;
    
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    border-radius: 50px;
    display: flex;
  
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
 
   
  
    
}
#text{
    margin-left: 50px;
    margin-top: 50px;}
    #text p{
        margin-top: -30px;
    }
    footer{
    background-color: rgb(210, 196, 171);
    margin-top: 50px;
    
    padding: 50px 50px;

    
    
 
   
}
li{font-weight: 300;

}
#logo a{
text-decoration: none;
}
#dept h3{
    margin-left: 10px;
}
#about h3{
    margin-left: 10px;
}
#service h3{
    margin-left: 10px;
}
#flex{
    display: flex;
        justify-content: space-around;
}
#use{
    display: flex;
   justify-content: space-around;

}
#im{
    margin-left: 15%;
}